PORT=3001
CLIENT_URL=https://ton-domaine.com
STRIPE_SECRET_KEY=
EMAIL_USER=
EMAIL_PASS=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
DISCORD_BOT_TOKEN=
DISCORD_GUILD_ID=
DISCORD_CATEGORY_ID=
STAFF_ROLE_ID=
PANEL_CHANNEL_ID=
DISCORD_LOG_CHANNEL_ID=
EMAILJS_SERVICE_ID=
EMAILJS_TEMPLATE_ID=
EMAILJS_PUBLIC_KEY=
DISCORD_WEBHOOK=
VITE_API_URL=
